# Node dependencies
node_modules

# Misc
.DS_Store
.fleet
.idea

# cache
.eslintcache
.stylelintcache

# Avoid LICENSE problem, don't include generated .d.ts files
/@types/Surfingkeys/
!/@types/Surfingkeys/.gitkeep
